<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
	<title>Share Journey</title>
	<script type="text/javascript">
		var baseUrl = 'http://localhost:3000/';
	</script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>
<body ng-view>
</body>
<!-- <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script> -->
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/app/services.js"></script>
<script type="text/javascript" src="/app/controllers.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<style>
	.dsad{
		background: #F85D47;
		width: 12px;
		height: 12px;
		display: block;
		float: right;
		border-radius: 50%;
		margin: 6px 10px 0px 0px;
	}
</style>
</html>