<div class="container">

    <div class="login-main window-new ">
        <div class="head-info">

            <!--label class="lbl-close"> </label-->
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"></div>
        <div class="login">

            <div class="text-center"><img ng-src="{{user.avatar}}" class="img img-circle">

                <div class="text-center name-title">Group Travel</div>
                <div class="text-center name-subtitle">from {{group.start_from}} to {{group.upto}}</div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="record in data">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div class="text-center"><img ng-src="{{record.avatar}}" class="img img-circle">

                            <div class="text-center name-title">{{record.name}}</div>
                            <div class="text-center name-subtitle">{{record.email}}</div>
                            <br/>
                        </div>
                        <div class="padding-top-5">
                            <div>{{group.start_datetime}}</div>
                            <div> to</div>
                            <div>{{group.end_datetime}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>