<div class="container">

    <div class="login-main window-new ">
        <div class="head-info">

            <!--label class="lbl-close"> </label-->
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"></div>
        <div class="login">

            <div class="text-center"><img ng-src="{{user.avatar}}" class="img img-circle">

                <div class="text-center name-title">{{user.name}} Travels</div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="record in data">
spot
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div>IIT Kanpur</div>
                        <div> to</div>
                        <div>Railway Station, Kanpurs</div>
                    </div>
                    <div class="padding-top-5">
                        <div>1:00 pm, 25 January 2015</div>
                        <div> to</div>
                        <div> 2:00 pm, 26 January 2015</div>
                    </div>
                    <button type="button" class=" btn-l btn-2 ">View</button>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>