<div class="container">

    <div class="login-main window-new ">
        <div class="head-info">

            <!--label class="lbl-close"> </label-->
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"></div>
        <div class="login">

            <div class="text-center"><img ng-src="{{user.avatar}}" class="img img-circle">

                <div class="text-center name-title">{{user.name}} Travel</div>
                <div class="text-center name-subtitle">from IIT Kanpur to Railway Station</div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div class="text-center"><img ng-src="{{user.avatar}}" class="img img-circle">

                            <div class="text-center name-title">{{user.name}}</div>
                            <div class="text-center name-subtitle">(Individual)</div>

                            <br/>

                        </div>
                        <div class="padding-top-5">
                            <div>1:00 pm, 25 January 2015</div>
                            <div> to</div>
                            <div> 2:00 pm, 26 January 2015</div>
                        </div>
                        <button type="button" class=" btn-l btn-2 ">Join</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-dialog">
                    <!--<img ng-src="{{user.avatar}}" class="img img-circle">-->
                    <div class="padding-bottom-5">
                        <div class="text-center">
                            <ul class="list-inline">
                                <li><img ng-src="{{user.avatar}}" class="img img-circle"></li>
                                <li><img ng-src="{{user.avatar}}" class="img img-circle"></li>
                                <li><img ng-src="{{user.avatar}}" class="img img-circle"></li>
                                <li><img ng-src="{{user.avatar}}" class="img img-circle"></li>

                            </ul>

                            <div class="text-center name-title">Group</div>
                            <div class="text-center name-subtitle">(Spots Left = 2)</div>

                            <br/>

                        </div>
                        <div class="padding-top-5">
                            <div>1:00 pm, 25 January 2015</div>
                            <div> to</div>
                            <div> 2:00 pm, 26 January 2015</div>
                        </div>
                        <button type="button" class=" btn-l btn-2 ">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>